body{
  font-family: 'Montserrat', sans-serif;
  font-weight:400

}

#title{
  background-color: #ff4c68
}

#features{
  padding:7% 15%;
  text-align: center;
  position:relative;
  z-index:1;
  background-color: #fff;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color:white;
  font-weight:900;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size:3rem;
  line-height: 1.5;

}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight:900;
}
.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding: 0 0 4.5rem;
}

.navbrand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight:bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2em
}

/* Download Button */

.download-button{
  margin: 5% 3% 5% 0;
}
/* Title Image */
.title-img{
 width:60%;
 transform: rotate(25deg);
 position:absolute;
 margin-left:10%;
}

.des{
  font-size: 5rem;
  color:#ef8172;
  margin-bottom: 20px

}

.des:hover{
  color:#ff4c68;
}

.feat{
  width:70%;
  margin: 0 auto 0 auto;
  line-height: 1.5;
  background-color: #fff;
}

.col-feat{
  margin:100px auto;
  padding:0 50px 0 50px;
}

/* Testimonials Section */

#testimonials{
background-color:#ef8172;
text-align:center;
color:#fff;
}

.carousel-item{
  padding: 7% 15%;
}

.testi-img{
  width: 10%;
  border-radius:100%;
  margin:20px;
}

#press{
  background-color:#ef8172;
  text-align:center;
  padding-bottom:3%;
}

.press-img{
  width: 15%;
  margin:20px 20px 50px
}


/* Pricing Section */

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-col{
  padding:3% 2%;
}

@media(max-width:1045px){
  .title-img{
  position:static;
  transform:rotate(0);
  }
  #title{
    text-align: center;
  }
}


/* cta section */

.col-cta{
  text-align: center;
  background-color: #ff4c68;
  color:#fff;
  padding-top:100px;
  font-size: 2rem;
}

.footer-col{
  text-align: center;
  background-color: #fff;
  padding: 50px 0 20px;
}

.footer-link{
  margin: 2%;
  color:black;
}

.p-cop{
  margin-top:50px;
}
